{% extends "base.html" %}
 {% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
        <li>{{ message }} </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <div class="fdiv center_div"> <!-- form that allows to add a book -->
        <form action="" method="post" name="task" >
            <div class="form-group text-center">
                <label for="inputName">Title</label>
                {{ form.title }}
            </div>
            <div class="form-group text-center">
                <label for="inputDesc">Description</label>
                {{ form.description }}
            </div>
            <div class="form-group text-center">
                <label for="inputDesc">Year</label>
                {{ form.year }}
            </div>
            <div class="form-group text-center">
                <label for="inputDesc">Author</label>
                {{ form.author }}
            </div>
            <div class="form-group text-center">
                <label for="inputDesc">Price</label>
                {{ form.price }}
            </div>
            <div class="form-group text-center">
                <label for="inputDesc">Availability</label>
                {{ form.availability }}
            </div>
            <div class="container"> <!-- shows the button to add the form -->
                <div class="row">
                  <div class="col text-center">
                <button type="submit" class="btn btn-primary" value="add" >Submit</button>
            </div>
        </form>
    </div>
 {% endblock %}