{% extends "base.html" %}
 {% block content %}
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for ta in t %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" alt="Book" style="height: 225px; width: 100%; display: block;" src="{{ url_for('static', filename='book.jpg') }}">
            <div class="card-body">
              <p class="card-text">{{ ta.title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary addtocart" href="/individualbook/{{ta.id}}">View</a>
                  {% if session['login'] == 1 %}
                  <a class="btn btn-primary addtocart" href="/addtocart/{{ta.id}}">Add to Cart</a>
                  {% endif %}
                </div>
                <small class="text-muted">{{ ta.price }}£</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>


 {% endblock %}