{% extends "base.html" %}
 {% block content %}

 <div class="center_div">
  <img class="card-img-top" alt="Book" style="height: 225px; width: 100%; display: block;" src="{{ url_for('static', filename='book.jpg') }}">
 </div>
 <table class="table">
  <thead>
    <tr> <!-- headers of the collumns -->
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Year</th>
      <th scope="col">Author</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
   <!-- goes through the results -->
      <tr>
        <th scope="row">{{ t.id }}</th>
        <td>{{ t.title }}</td>
        <td>{{ t.description }}</td>
        <td>{{ t.year }}</td>
        <td>{{ t.author }}</td>
        <td>{{ t.price }}</td>
      </tr>

  </tbody>
</table>
<div class="container"> <!-- shows the button to add the form -->
  <div class="row">
    <div class="col text-center">
      {% if session['login'] == 1 %}
          <a class="btn btn-primary addtocart" href="/addtocart/{{t.id}}">Add to Cart</a>
      {% endif %}
    </div>
  </div>
</div>
 {% endblock %}