{% extends "base.html" %}
 {% block content %}
 <table class="table">
  <thead>
    <tr> <!-- headers of the collumns -->
      <th scope="col">Book Id</th>
      <th scope="col">Purchase Id</th>
    </tr>
  </thead>
  <tbody>
    {% for ta in t %} <!-- goes through the results -->
      <tr>
        <th scope="row">{{ ta.book_id }}</th>
        <td>{{ ta.purchase_id }}</td>
      </tr>
{% endfor %}
  </tbody>
</table>
 {% endblock %}