{% extends "base.html" %}
 {% block content %}
 <table class="table">
  <thead>
    <tr> <!-- headers of the collumns -->
      <th scope="col">#</th>
      <th scope="col">Client ID</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for ta in t %} <!-- goes through the results -->
      <tr>
        <th scope="row">{{ ta.id }}</th>
        <td>{{ ta.client_id }}</td>
        <td>{{ ta.date_time }}</td>
      </tr>
{% endfor %}
  </tbody>
</table>
 {% endblock %}