{% extends "base.html" %}
 {% block content %}
 <h1 class="jumbotron-heading text-center">All Purchased Books</h1>
 <table class="table">
  <tbody>
    {% for ta in t %} <!-- goes through the results -->
    <tr>
        <th scope="row">{{ ta.id }}</th>
        <td>{{ ta.title }}</td>
        <td>{{ ta.description }}</td>
        <td>{{ ta.year }}</td>
        <td>{{ ta.author }}</td>
        <td>{{ ta.price }}</td>
      </tr>
{% endfor %}
  </tbody>
</table>

<div class="container"> <!-- shows the button to add the form -->
  <div class="row">
    <div class="col text-center">
      <a class="btn btn-primary" href="/password" role="button">Change Password</a>
    </div>
  </div>
</div>
 {% endblock %}